*{
	padding: 0;
	margin: 0;
}

body{
	background: linear-gradient(rgba(0, 0, 0, 0), rgb(128,128,128));
	background-size: cover;
	height: 1000px;
}

.header{
	background: linear-gradient(rgba(255, 90, 92, 5), rgba(0, 0, 0, 0));
	background-size: cover;
}

.header__title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 20px;
	color: rgba(0, 0, 0, 8);
	margin-left: 100px;
	padding-top: 50px;
	margin-bottom: 20px;
}

.header__line{
	color: black;
} 

.main__base, .main__animation{
	padding-right: 100px;
	padding-left: 100px;
}

.base__heading, .animation__heading{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 0, 0, 8);
	padding-top: 30px;
	margin-bottom: 10px;
}

.base__element{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.element__new-color:hover{
	stroke: red;
}

.element__color:hover{
	fill: white;
}

.animation__button{
	padding: 0;
	/*border: none;*/
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.power {
  background: #38434A;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 1.2em;
  height: 35px;
  text-align: center;
  user-select: none;
  transition: none;
}

.lamp{
	padding-bottom: 30px;
}

.footer{
	background-color: black;
	padding-right: 100px;
	padding-left: 100px;
}

.footer__info{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.info__student{
	color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 10px;
}

.info__address{
	color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 10px;
}

#clock {
    width: 140px;
    height: 140px;
    background: #EEDC82;
    border-radius: 50%;
    position: relative;
    margin-right: 100px;
}

#dot {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#sec {
    width: 2px;
    height: 60px;
    background: red;
    position: absolute;
    right: 0;
    left: 0;
    top: 13px;
    margin: auto;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotate(0deg);
}

#min {
    width: 4px;
    height: 55px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    margin: auto;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotate(0deg);
}

#hour {
    width: 4px;
    height: 40px;
    background: black;
    position: absolute;
    right: 0;
    left: 0;
    top: 30px;
    margin: auto;
    -webkit-transform-origin: center bottom;
    -webkit-transform: rotate(0deg);
}

.lamp-color{
	cursor: pointer;
}